.click{
    padding: .7rem 1.3rem;
    text-decoration: none;
    display: inline-block;
    position: relative;
    background: $secondary;
    font-weight: 700;
    border-radius: .4rem;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    outline: none;
    transition: all .4s;
    cursor: pointer;

    &:hover{
        background: #fff;
        color: $secondary;
        box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.38);
    }
}

.center{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page{
    @extend .center;
    max-width: 1200px;
    padding: 7rem 1rem 4rem;
    
    &.main{
        min-height: 100vh;
    }
    
    &>form{
        width: 430px;
        padding-bottom: 4rem;
    }

    .heading{
        text-align: center;
        font-size: 1.75rem;
        color: $secondary;
    }

    .text{
        color: grey;
        padding: 1rem 0 4rem;
    }

}

.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner{
    width: 100%;
    height: calc(190px + 12vh);
    background: lightgrey;
    margin-bottom: 5rem;
    position: relative;

    &::before{
        width: 100%;
        height: 100%;
        position: absolute;
        content: "";
        background: rgba(0, 0, 0, 0.38);
        // z-index: 1;
    }

    h2{
        @extend .center;
        position: absolute;
        top: 120px;
        color: #fff;
        font-size: 3rem;
        font-weight: 800;
        z-index: 1
        ;
    }

}

.form{
    .label{
        text-align: center;
        font-weight: bold;
        color: $secondary;
        font-size: 1.3rem;
        padding-bottom: 1rem;
    }
    padding: 1rem;
    label{
        color: grey;
    }

    .formcontrol{
        display: flex;
        flex-direction: column-reverse;
    }

    input,textarea{
        outline: none;
        border: 1px solid grey;
        padding: .4rem;
        border-radius: .4rem;
        width: 100%;
        margin-bottom: .7rem;
        resize: none;

        &:focus{
            border-color: $secondary;

            &+label{
                color: $secondary
            }
        }
    }

    .redirect{
        color: grey;
        font-size: .95rem;
        padding: .7rem 0;

        a{
            color: $secondary;
        }
    }

    button{
        @extend .center;
    }
}