*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    color: rgb(45, 45, 45);
}
$primary:rgb(84, 170, 8);
$secondary:#FFAA01;

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;1,700&display=swap');

@import "reuseables";
nav{
    display:flex;
    padding: .5rem 2rem;
    justify-content: space-between;
    align-items: flex-end;
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 10;

    &>a{
        font-size: 2.4rem;
        font-weight: 700;
        text-decoration: none;
        color:#fff;
        align-self: center;
        width: 110px;
        background: $secondary;
        border-radius: 45%;
        padding: .3rem;
    }

    ul{
        display: flex;
        gap: 1.3rem;

        a{
            text-decoration: none;
            color: grey;
            transition: all .4s;

            &:hover{
                color: $secondary;
            }
        }

        &.links{

            sup{
                padding: .2rem .42rem;
                background: $secondary;
                color: #fff;
                border-radius: 50%;
                font-size: .85rem;
            }            

            a,button{
                position: relative;
                border: none;
                outline: none;
                background: transparent;
                

                .dropdown{
                    width: 11rem;
                    position: absolute;
                    top: 3.5rem;
                    right: 0;
                    padding: .7rem ;
                    background: rgba(255, 255, 255, 0.817);
                    border-radius: .2rem;
                    box-shadow: 0 0 .3rem rgba(0,0,0, .2);
                    display: none;
                    &:hover{
                        display: block !important;
                    }
    
                    a{
                        font-size: .9rem !important;
                        font-weight: 300;
                        display: block;
                        width: 100%;
                        padding: .7rem 0;

                        
                    }
                }

                &:is(.last){
                    
                    &:focus{
                        .dropdown{
                            display: block;
                            
                            // background: red;
                        }
                    }
                   
                }

                i{
                    color: #fff !important;
                    transition: all .4s;
                    font-size: 1.2rem;
                    &:hover{
                        color: $secondary !important;
                    }
                }
            }
        }

    }

    &.visible{
        background: #fff;
        box-shadow: 0 0.1rem .1rem rgba(0,0,0, .2);

        &>a{
            color: $secondary;
        }

        .links{
            i{
                color: grey !important;
            }
        }
    }

    .bars{
        width: 21px;
        height: 15px;
        align-self: center;
        position: relative;
        display: none;

        .bar{
            width: 100%;
            position: relative;
            height: 3px;
            background: $secondary;
            border-radius: 1px;

            &::before,&::after{
                content: "";
                background: $secondary;
                position: absolute;
                top: 7px;
                width: 100%;
                height: 3px;
                border-radius: 1px;

            }

            &::after{
                top: 15px !important;
            }
        }
    }
}

.slider{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    display: none;

    ul{
        width: 90%;
        display: flex;
        flex-direction: column;
        padding-bottom: 5rem;

        a{
            display: inline-block;
            padding: .7rem;
            width: 100%;
            // background: red;
            margin: .2rem 0;
            text-align: center;
            color: grey;
            text-decoration: none;
            transition: all .4s;
            font-weight: 600;

            &:hover{
                color: $secondary;
                background: lighten($secondary,30);
            }
        }
    }

}

#home{
    background: linear-gradient(rgba(0,0,0, .2),rgba(0,0,0, .2)),url('../public/pizza.jpg');
    // display: flex;
    background-position: center;
    background-size: cover;
    padding-top: 1.5rem;
    justify-content: space-evenly;
    gap: 3rem;
    height: 100vh;
    position: relative;
    padding: 0 3rem;

    .homeimage{
        position: absolute;
        width: 40%;
        height: 100%;
        background: #fff2d7;
        top: 0;
        right: 0;
        display: flex;
       justify-content: center;
       align-items: center;

       .image{
        width: 90%;
        height: 400px;
        position: relative;

        .next,.prev{
            position: absolute;
            padding: .5rem 1rem;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            justify-content: center;
            align-items: center;
            background: #ffaa01b7;
            border-radius: .3rem;
            color: #fff;
            font-weight: bold;
            left: 0;
        }
        .name{
            @extend .center;
            position: absolute;
            padding: .5rem 1rem;
            background: #ffaa01b7;
            border-radius: .3rem;
            color: #fff;
            font-weight: bold;
            bottom: -2rem;
        }

        .next{
            left: auto !important;
            right: 0;
        }
        
       }
    }

    .intro{
        padding-top: 10rem;
        max-width: calc(60% - 5rem);

        h3{
            font-size: 1.7rem;
            background: rgba(255, 255, 255, 0.448);
            padding: .3rem;
            width: fit-content;
            // color: green;
        }

        img{
            display: block;
            width: 400px;
            margin: 1.5rem 0;
            background: $secondary;
            border-radius: 45%;
            padding: .7rem 0;
           }
    
    }
}

#about{
    .aboutflex{
        display: flex;
        flex-direction: row-reverse;
        gap: 0 3rem;
        align-items: center;
        padding-top: 3rem;
        .aboutimage{
            height: 400px;
            width: 40%;
            transform: scale(.8);
            background: $secondary;
            padding: 3rem 0;
            border-radius: 50%;

            img{
                object-fit: contain !important;
            }
            

        }

        .abouttext{
            width: 50%;
            font-size: 1.1rem; 

            a{
                margin-top: .5rem;
                transform: scale(.8);
                transform-origin: 0;
            }

            // color: grey;
        }
    }
}


#menu{
    .menugrid{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 3rem 2rem;
        padding-top: 3rem;

        .menu{
            margin-bottom: 2rem;
            // background: red;
            .image{
                width: 100%;
                // border: 1px solid $secondary;
                height: 10rem;
             }

            .details{
                .name{
                    color: $secondary;

                }
                .price{
                    padding:.3rem 0;
                }
                .click{
                    transform: scale(.8);
                    transform-origin: 0;
                }
                
            }
        }
    }
}

#services{
    .serviceflex{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
        margin-top: 3rem;

        .service{
            max-width: 200px;
            i{
                text-align: center;
                font-size: 4rem;
                padding: .5rem ;
                color: $primary;
            }
            .servicename{
                font-size: .95rem;
                color: $secondary;
            }

            .servicedetails{
                font-size: .9rem;

            }
        }
    }
}

#testimonials{
    .testimonialflex{
        display: flex;
        gap: 0 2rem;
        padding-top: 4rem;
        justify-content: space-between;
        transition: all .4s;
        
        .testimonial{
            padding: 1rem;
            width: 20rem;
            background: lighten($secondary, 15);
            border-radius: .4rem;
            .info{
                display: flex;
                gap: 1rem;

                .image{
                    width: 4rem;
                    height: 4rem;
                    background: lightgray;
                    border-radius: 50%;
                    overflow: hidden;
                }
                .name{
                    align-self: flex-end;
                    padding-bottom: .7rem;
                    color: #fff;
                    
                }
            }

            .comment{
                font-size: .9rem;
            }

            &:hover{
                box-shadow: 0 0 .5rem rgba(0,0,0, .2);
            }
        }
    }
}


#contact{
    padding-bottom: 7rem;

    .form,.map{
        width: 50%;
    }
    
    .map{
        background: lightgray;
        min-height: 400px;
        position: relative;
    }

    .contactflex{
        display: flex;
        gap: 0 3rem;
        padding-top: 3rem;

    }
}

footer{
    display: flex;
    gap: 2rem;
    padding: 6rem 2rem 7rem;
    background: #fff2d7;
    justify-content: space-evenly;
    align-items: center;
    position: relative;

    &>a{
        text-decoration: none;
        width: 180px;
        
        h1{
            font-weight:800;
            color: $secondary;
            
        }
    }

    .copy{
        @extend .center;
        position: absolute;
        bottom: 1rem;
    }

    p{
        max-width: 600px;
        font-size: .9rem
    }

    ul{
        padding: 0 3rem;
        display: flex;
        flex-direction: column;
        gap: .3rem;

        a{
            // padding: .3rem;
            text-decoration: none;
            transition: all .4s;
            font-size: .85rem;

            &:hover{
                color: $secondary;
            }
        }
    }
}

.cart{
    margin-top: 3rem;
    .cartitem{margin-top: .5rem;

        // height: 180px;
        // background: red;
        border: 1px solid lightgray;
        display: flex;
        justify-content: space-between;
        gap: 1.5rem;
        align-items: center;
        padding: .7rem;

        .title{
            color: grey;
            font-weight: bolder;
        }

        .status{
            color: $secondary;
        }

        .image{
            width: 220px;
            height: 170px;
            
        }

        .details{
            justify-items: flex-start;

            .itemname{
                color: $secondary;
                font-weight: bold;
            }
        }
    }
}

.food{
    // background: red;
    display: flex; 
    align-items: center;
    position: relative;
    gap: 2rem;
    justify-content: center;

    .image{
        width: 100%;
        max-width: 400px;
        height: 380px;
        // background: red;

    }

    .fooddetails{
        .foodname{
            color: $secondary;
        }

        .foodprice{
            color: grey;
            padding: .5rem 0;
        }
    }
}

@import "media";